<head>
    {% include 'head.html' %}
</head>
<body>

{% if session['logged_in'] %}
<p>You're logged in already!</p>
<a href="/logout">Logout</a> <br> <br>
<form action="logout" method="GET">
    <input type="submit" value="Logout">
</form>

{%else%}
<div class="mobile-content">
    <div class="bg-top">
        <img src="/static/img/bg-top.png" class="login-icon">
    </div>
    <div class="login-wrapper">
        <form action="/login" method="POST" class="login-form">
            <div class="login-grid">
                <img src="/static/img/logo.png" class="login-icon">
                <!--                <input type="hidden" name="action" value="login">-->
                <div class="login-container">
                    <label class="login-label" for="user-name"><b>아이디</b></label>
                    <!--                    <input type="text" placeholder="아이디를 입력하세요" name="userName" required>-->
                    <input type="text" name="username" placeholder="아이디를 입력하세요" required>
                </div>
                <div class="login-container">
                    <label class="login-label" for="userPW"><b>비밀번호</b></label>
                    <!--                    <input type="password" placeholder="비밀번호를 입력하세요" name="userPW" required>-->
                    <input type="text" name="password" placeholder="비밀번호를 입력하세요">
                </div>
                <div class="login-container">
                    <input class="login-checkbox" type="checkbox" name="login_keep" checked="checked">
                    <label for="login_keep" class="save-pw">로그인 유지</label>
                </div>
                <div class="login-container">
                    <input class="login-button" type="submit" value="로그인">
                </div>
            </div>
        </form>
    </div>
    <div class="login-service-info">
        서비스 담당자: 최인규 (O1O-2647-0265)
    </div>
    <div class="bg-bottom">
        <img src="/static/img/bg-bottom.png" alt="">
    </div>
</div>
{%endif%}

{%with messages = get_flashed_messages()%}
{%if messages %}
<script type="text/javascript">
      alert("{{messages[0]}}");
</script>
{%endif%}
{%endwith%}

</body>
