<!--//  $order = $_POST['order'];-->
<!--//  $direction = $_POST['direction'];-->
<!--//  $sql = "SELECT * FROM  `company` ";-->
<!--//  $sql .= ($_POST['order'] && $_POST['direction']) ? "ORDER BY  `{$_POST['order']}` {$_POST['direction']} " : null;-->
<!--//  $company_table = $this->model->getTable($sql);-->
<!--//  echo json_encode($sql);-->
<!--//  echo sizeof($company_table);-->

<div class="grid-style companyTable v_pc">
    <div class="order link com-div round1 al_l" id="refresh-companyID"> #</div>
    <div class="order link com-div al_l" id="refresh-companyName"> 상호명</div>
    <div class="order link com-div al_l" id="refresh-address"> 간단주소</div>
    <div class="order link com-div al_l" id="refresh-businessType"> 업종</div>
    <div class="order link com-div al_l">가입 유형</div>
    <div class="link com-div" id="refresh-endDate">비고</div>
    <div class="order link com-div al_r" id="refresh-grade"> 점수</div>
    <div class="order com-div" id="refresh-bookmark"><span class="link fa fa-star"></span></div>
    <div class="order com-div round2" id="refresh-deleted"> X</div>
</div>
<div id="company_table">
{% for company in companies %}
    <div class="grid-style grid-wrapper companyTable">
        <div class="v_pc">{{company['companyID']}} <a href="view/{{companyID}}" {{companyID}}></a></div>
        <div data-th="상호명" class="cell">{{company['companyName']}}</div>
        <div data-th="간단주소" class="cell">{{company['address']}}</div>
        <div data-th="업종" class="cell">{{company['businessType']}}</div>
        <div data-th="가입유형" class="cell">가입 유형</div>
        <div data-th="비고" class="cell">비고</div>
        <div data-th="점수" class="cell">{{company['grade']}}점</div>
        <div class="cell v_pc"><span class="fa fa-star selectable "></span></div>
        <div class="cancel">
            <button type="button" class="btn-call-cancel-modal btn btn-small" id="">
                <!-- 취소 -->
                <i class="fas fa-trash-alt"></i>
            </button>
        </div>
    </div>
{% endfor %}
</div>

<button class="circle v_mobile" onClick="location.href='{{ url_for('companyForm')}}'">
    <i class="fas fa-plus"></i>
</button>