{% extends "layout.html" %}

{% block content %}
<div id="company-help">
    {% include "help.html" %}
</div>
<div class="top-title">
    <h1 class="title-main">거래처정보</h1>
    <span class="form-section-required"></span>
    <p class="required-mark">필수항목</p>
</div>
<div class="write-layout">
    <div class="board-write auto-center">
        <div class="form-style-1">
            <form id="formInsertCompany" action="" method="post" style="width: 100%;">
                <!-- <fieldset> -->
                <input type="hidden" name="action"
                       value="<?php echo ($this->param->action == 'write') ? 'insert' : 'update' ?>">
                <input type="hidden" name="companyID" value="<?php echo $companyData['companyID'] ?>">
                <input type="hidden" name="ceoID" value="<?php echo $this->ceoData['ceoID'] ?>">
                <div class="">
                    <div class="form-row">
                        <div class="callForm">
                            <div class="row-in-row">
                                <div class="form-title">
                                    <h2>상호명</h2>
                                    <span class="form-section-required"></span>
                                    <a class="help open_modal" herf="javascript:void(0)">도움말</a>
                                    <button type="button" class="icon-up"><i class="fas fa-chevron-up"></i></button>
                                </div>
                                <div class="row-content">
                                    <input type="text" name="companyName" size="20" required autofocus
                                           value="" placeholder="상호명">
                                </div>
                            </div>

                            <div class="row-in-row">
                                <div class="form-title">
                                    <h2>대표자명</h2>
                                    <span class="form-section-required"></span>
                                    <a class="help open_modal" herf="javascript:void(0)">도움말</a>
                                </div>
                                <div class="row-content">
                                    <input type="text" list="ceoList" name="ceoName" size="20" required
                                           value="" placeholder="대표자명">
                                    <datalist id="ceoList" class="input-field">
                                        <!-- <?php foreach ($this->ceo_List as $data): ?>
                                            <option value="<?php echo $data['ceoName']?>"></option>
                                        <?php endforeach ?> -->
                                    </datalist>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="callForm">
                        <div class="row-in-row">
                            <div class="form-title">
                                <h2>업종</h2>
                                <span class="form-section-required"></span>
                                <a class="help open_modal" herf="javascript:void(0)">도움말</a>
                                <button type="button" class="icon-up"><i class="fas fa-chevron-up"></i></button>
                            </div>
                            <div class="row-content">
                                <input type="text" list="businessTypeList" name="businessType" size="20"
                                       required value="" placeholder="업종">
                                <datalist id="businessTypeList" class="input-field">
                                    <!-- <?php foreach ($this->businessType_List as $data): ?>
                                        <option value="<?php echo $data['businessType']?>"></option>
                                    <?php endforeach ?> -->
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="callForm">
                            <div class="row-in-row">
                                <div class="form-title">
                                    <h2>거래처 전화</h2>
                                    <span class="form-section-required"></span>
                                    <a class="help open_modal" herf="javascript:void(0)">도움말</a>
                                    <button type="button" class="icon-up"><i class="fas fa-chevron-up"></i></button>
                                </div>
                                <div class="row-content">
                                    <input type="text" name="companyPhoneNumber" size="20" required value=""
                                           placeholder="010-XXXX-XXXX">
                                    <div class="form-subtitle">
                                        <h2>사장 전화</h2>
                                        <span class="form-section-required"></span>
                                        <a class="help open_modal" herf="javascript:void(0)">도움말</a>
                                    </div>
                                    <input type="text" name="ceoPhoneNumber" size="20" required value=""
                                           placeholder="010-XXXX-XXXX">
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="callForm">
                                <div class="row-in-row">
                                    <div class="form-title">
                                        <h2>간단주소</h2>
                                        <span class="form-section-required"></span>
                                        <a class="help open_modal" herf="javascript:void(0)">도움말</a>
                                        <button type="button" class="icon-up"><i class="fas fa-chevron-up"></i></button>
                                    </div>
                                    <div class="row-content">
                                        <input type="text" list="addressList" name="address" value="" placeholder="청담">
                                        <datalist id="addressList">
                                            <!-- <?php foreach ($this->address_List as $data): ?>
                                                <option value="<?php echo $data['address']?>"></option>
                                                <?php endforeach ?> -->
                                        </datalist>

                                        <div class="form-subtitle">
                                            <h2>상세주소</h2>
                                            <span class="form-section-required"></span>
                                            <a class="help open_modal" herf="javascript:void(0)">도움말</a>
                                        </div>
                                        <!-- <div class="row-content"> -->
                                            <input type="text" name="detailAddress" size="50" value=""
                                                   placeholder="서울특별시 중구 00동 00로 ...">
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="callForm">
                                <div class="row-in-row">
                                    <div class="form-title">
                                        <h2>점수</h2>
                                        <a class="help open_modal" herf="javascript:void(0)">도움말</a>
                                        <button type="button" class="icon-up"><i class="fas fa-chevron-up"></i></button>
                                    </div>
                                    <div class="row-content">
                                        <input type="number" name="grade" min="0" max="100" required value=""
                                               placeholder="0 ~ 100">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="callForm">
                                <div class="row-in-row">
                                    <div class="callForm-etc">
                                        <div class="form-title">
                                            <h2>비고</h2>
                                            <a class="help open_modal" herf="javascript:void(0)">도움말</a>
                                            <button type="button" class="icon-up"><i class="fas fa-chevron-up"></i>
                                            </button>
                                        </div>
                                        <div class="row-content">
                                            <textarea id="detail" class="textarea-detail" name="detail">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if company['deleted'] %}
                        <div class="form-row">
                            <div class="callForm">
                                <div class="row-in-row">
                                    <div class="callForm-etc">
                                        <div class="form-title">
                                            삭제비고
                                            <button type="button" class="icon-up"><i class="fas fa-chevron-up"></i>
                                            </button>
                                        </div>
                                        <div class="row-content">
                                            <textarea class="textarea-detail" id="delete_detail" name="deleteDetail">
                                                {{company['deleteDetail']}}
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% if company %}
                        <div class="form-row">
                            <div class="callForm">
                                <div class="row-in-row">
                                    <div class="form-title">
                                        <h2>블랙</h2>
                                        <a class="help open_modal" herf="javascript:void(0)">도움말</a>
                                        <button type="button" class="icon-up"><i class="fas fa-chevron-up"></i></button>
                                    </div>
                                    <div class="row-content">
                                        <table>
                                            <thead>
                                            <tr>
                                                <td>
                                                    <?php echo $this->employeeName($data['employeeID']) ?>
                                                </td>
                                                <td>
                                                    <?php echo ($data['ceoReg'] == 1) ? '오지마세요' : '안가요'; ?>
                                                </td>
                                                <td class="<?php echo $data['detail'] ? 'al_l' : 'al_c'?>">
                                                    <?php echo $data['detail'] ? $data['detail'] : '-'; ?>
                                                </td>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endif%}
                        {% include "company/companyWrite.html" %}

                        <!-- </fieldset> -->
                        <div class="btn-area">
                            <a class="btn btn-default" href="<?php echo $this->param->get_page ?>">뒤로 가기</a>
                            <button class="btn btn-<?php echo ($this->param->action == 'write') ? 'insert' : 'submit' ?>"
                                    type="submit"><?php echo ($this->param->action == 'write') ? '추가' : '수정' ?>
                            </button>
                        </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='js/toggleForm.js')}}"></script>
{% endblock %}