{% extends "layout.html" %}

{% block content %}
<div class="top-title">
    <h1 class="title-main">거래처정보</h1>
</div>
<div class="write-layout">
    <div class="board-write auto-center">
        <div class="form-style-1">
            <form id="formInsertCompany" action="" method="post" style="width: 100%;">
                <!-- <fieldset> -->
                    <input type="hidden" name="action"
                        value="<?php echo ($this->param->action == 'write') ? 'insert' : 'update' ?>">
                    <input type="hidden" name="companyID" value="<?php echo $companyData['companyID'] ?>">
                    <input type="hidden" name="ceoID" value="<?php echo $this->ceoData['ceoID'] ?>">
                    <div class="">
                        <div class="form-row">
                            <div class="callForm">
                                <div class="row-in-row">
                                    <h2 class="form-title">
                                    상호명
                                    <button class="icon-up" onclick="closeInput();"><i class="fas fa-chevron-up"></i></button>
                                    </h2>
                                    <div class="row-content">
                                        <input type="text" name="companyName" size="20" required autofocus
                                        value="" placeholder="상호명">
                                    </div>
                                </div>
                            
                                <div class="row-in-row">
                                    <h2 class="form-title">
                                        대표자명
                                    </h2>
                                    <div class="row-content">
                                        <input type="text" list="ceoList" name="ceoName" size="20" required
                                            value="" placeholder="대표자명">
                                        <datalist id="ceoList" class="input-field">
                                        <!-- <?php foreach ($this->ceo_List as $data): ?>
                                            <option value="<?php echo $data['ceoName']?>"></option>
                                        <?php endforeach ?> -->
                                        </datalist>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="callForm">
                            <div class="row-in-row">
                                <h2 class="form-title">
                                    업종
                                    <button class="icon-up" onclick="closeInput();"><i class="fas fa-chevron-up"></i></button>
                                </h2>
                                <input type="text" list="businessTypeList" name="businessType" size="20"
                                    required value="" placeholder="업종">
                                <datalist id="businessTypeList" class="input-field">
                                <!-- <?php foreach ($this->businessType_List as $data): ?>
                                    <option value="<?php echo $data['businessType']?>"></option>
                                <?php endforeach ?> -->
                            </datalist>
                        </div>
                    </div>
                    <!-- <div class="tr">
                        <div id="companyNameDuplicate">이름을 입력 해 주세요</div>
                    </div> -->

                    <div class="form-row">
                        <div class="callForm">
                            <div class="row-in-row">
                                <h2 class="form-title">
                                    거래처 전화
                                    <button class="icon-up" onclick="closeInput();"><i class="fas fa-chevron-up"></i></button>
                                </h2>
                            <div class="row-content">
                                <input type="text" name="companyPhoneNumber" size="20" required value="" placeholder="010-XXXX-XXXX">
                            </div>
                        
                            <div class="row-in-row">
                                <h2 class="form-title">
                                    사장 전화
                                </h2>
                                <div class="row-content">
                                    <input type="text" name="ceoPhoneNumber" size="20" required value="" placeholder="010-XXXX-XXXX">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="callForm">
                            <div class="row-in-row">
                                <h2 class="form-title">
                                    간단주소
                                    <button class="icon-up" onclick="closeInput();"><i class="fas fa-chevron-up"></i></button>
                                </h2>
                                <div class="row-content">
                                    <input type="text" list="addressList" name="address" value="" placeholder="청담">
                                </div>
                                <datalist id="addressList">
                                <!-- <?php foreach ($this->address_List as $data): ?>
                                    <option value="<?php echo $data['address']?>"></option>
                                <?php endforeach ?> -->
                                </datalist>
                            </div>
                        
                            <div class="row-in-row">
                                <h2 class="form-title">
                                    상세주소
                                </h2>
                                <div class="row-content">
                                    <input type="text" name="detailAddress" size="50" value="" placeholder="서울특별시 중구 00동 00로 ...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        
                <div class="form-row">
                    <div class="callForm">
                        <div class="row-in-row">
                            <h2 class="form-title">
                                점수
                                <button class="icon-up" onclick="closeInput();"><i class="fas fa-chevron-up"></i></button>
                            </h2>
                            <div class="row-content">
                                <input type="number" name="grade" min="0" max="100" required value=""placeholder="100">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="callForm">
                        <div class="row-in-row">
                            <div class="callForm-etc">
                                <h2 class="form-title">
                                    비고
                                    <button class="icon-up" onclick="closeInput();"><i class="fas fa-chevron-up"></i></button>
                                </h2>
                                <textarea id="detail" class="textarea-detail" name="detail"><?php echo $this->get_detail($companyData, 'company'); ?></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- <?php if ($companyData['deleted'] == 1) : ?> -->
                <div class="form-row">
                    <div class="callForm">
                        <div class="row-in-row">
                            <div class="callForm-etc">
                                <h2 class="form-title">
                                    삭제비고
                                    <button class="icon-up" onclick="closeInput();"><i class="fas fa-chevron-up"></i></button>
                                </h2>
                                <textarea class="textarea-detail" id="detail" name="deleteDetail"><?php echo $companyData['deleteDetail']; ?></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <?php endif; ?> -->
                
                <!-- <?php if (($this->param->action == 'view') && (sizeof($this->blackList) > 0)): ?> -->
                <div class="form-row">
                    <div class="callForm">
                        <div class="row-in-row">
                            <h2 class="form-title">
                                블랙
                                <button class="icon-up" onclick="closeInput();"><i class="fas fa-chevron-up"></i></button>
                            </h2>
                            <div class="row-content">
                                <table>
                                    <thead>
                                    <tr>
                                        <td>
                                            <?php echo $this->employeeName($data['employeeID']) ?>
                                        </td>
                                        <td>
                                            <?php echo ($data['ceoReg'] == 1) ? '오지마세요' : '안가요'; ?>
                                        </td>
                                        <td class="<?php echo $data['detail'] ? 'al_l' : 'al_c'?>">
                                            <?php echo $data['detail'] ? $data['detail'] : '-'; ?>
                                        </td>
                                    </tr>
                                <?php } ?> -->
                                <tr>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                <!-- <?php endif; ?> -->
                </div>
                {% include "company/companyWrite.html" %}
                
                <!-- </fieldset> -->
                <div class="btn-area">
                    <a class="btn btn-default" href="<?php echo $this->param->get_page ?>">뒤로 가기</a>
                    <button class="btn btn-<?php echo ($this->param->action == 'write') ? 'insert' : 'submit' ?>"
                            type="submit"><?php echo ($this->param->action == 'write') ? '추가' : '수정' ?>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
