<!--title-->
<title>스마트 파출 솔루션, 파출링!</title>
<!--meta-->
<meta charset="UTF-8">
<meta property="og:type" content="website">
<meta property="og:url" content="http://pachul.club">
<meta property="og:title" content="파출링!">
<meta property="og:description" content="스마트 파출 솔루션, 파출링!">
<meta property="og:image" content="/static/img/pachuling_kakao_share.png">
<!--meta(toggle)-->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--icon-->
<!--<link rel="icon" href="{{ url_for('static', filename='img/call.png') }}" type="image/png">-->
<!--css-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/toggle.css') }}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--css(date picker)-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker-bs4.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker-bulma.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker-foundation.min.css') }}">
<!--js-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
<!--js(date range picker)-->
<script src="{{ url_for('static', filename='js/datepicker-full.min.js') }}"></script>
<!--js(moment)-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="{{url_for('static', filename='js/datepicker.js')}}"></script>
