<section class="modal_wrap">
    <article class="modal_cnt">
        <div class="modal_header">
            <h3 class="help-title"></h3>
        </div>
        <div class="modal_body">
            <!-- <strong>안녕하세요 모달입니다</strong> -->
            <p class="help-decription">
                새로운 콜, 구직자, 거래처 등록시 각 해당 목록에 대한 설명이 들어있는 곳입니다:) <br>
            </p>
            <div>
                <img class="help-img" src="{{ url_for('static', filename='img/help_images/call_src1.png') }}" alt="모달 이미지">
            </div>
        </div>
        <a href="javascript:void(0)" class="close_btn">닫기</a>
    </article>
    <div class="modal_dim"></div>
</section>