{% extends "layout.html" %}

{% block content %}

<div class="board-list auto-center">
    <button class="makeCall" id="btnAddBlacklist">블랙리스트 추가</button>
    <!--블랙리스트 추가 폼-->
    <div id="modalBlack" class="modal">
        <div class="modal-content">
            <div class="form-default">
                <form id="formBlack" action="" method="post" style="width: 100%">
                <button type="button" class="btn btn-close-modal"><i class="fa fa-times"></i></button>
                    <h2 class="modaltitle">블랙리스트 추가</h2>
                    <input type="hidden" name="action" value="black">
                    <div class="table" style="width: 100%">
                        <div class="tr">
                            <div class="td td-4">
                                <label for="">성명</label>
                                <input id="employeeName" type="text" list="employeeList" name="employeeName" required>
                                <datalist id="employeeList" class="input-field">
                                <?php foreach ($this->get_employee_list() as $data): ?>
                                    <option value="<?php echo $data['employeeName']?>"></option>
                                <?php endforeach ?>
                                </datalist>
                            </div>
                            <div class="td td-4">
                                <label for="">상호명</label>
                                <input type="text" list="companyList" name="companyName" required>
                                <datalist id="companyList" class="input-field">
                                <?php foreach ($companyList as $key => $data): ?>
                                    <option value="<?php echo $data['companyName'] ?>"></option>
                                <?php endforeach ?>
                                </datalist>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td td-4">
                                <label for="">유형</label>
                                <select name="type" style="height: 39px; background: #fff;" required>
                                    <option value="0">안가요</option>
                                    <option value="1">오지마세요</option>
                                </select>
                            </div>
                            <div class="td td-6">
                                <label for="">비고</label>
                                <input type="text" name="detail" style="height: 100px;">
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group al_r">
                        <button class="btn btn-insert" type="submit">추가</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        // 블랙리스트 추가 여는 버튼
        const open = document.getElementById('btnAddBlacklist');
        const close = document.getElementById('close');
        const modal = document.querySelector('#modalBlack');

        open.onclick = () => {
            modal.style.display = "flex";
        }

        close.onclick = () => {
            modal.style.display = "none";
        }
    </script>
    <div id="filter-wrapper">
        <!--블랙리스트 필터 폼-->
        <div class="btn-group group2">
            <form action="" method="post">
                <input type="hidden" name="ceoReg" value="all">
                <input type="submit" class="btn btn-option <?php echo $selected_option[2] ?>" value="전체">
            </form>
            <form action="" method="post">
                <input type="hidden" name="ceoReg" value="1">
                <input type="submit" class="btn btn-option <?php echo $selected_option[1] ?>" value="오지마세요">
            </form>
            <form action="" method="post">
                <input type="hidden" name="ceoReg" value="0">
                <input type="submit" class="btn btn-option <?php echo $selected_option[0] ?>" value="안가요">
            </form>
        </div>
        <!--블랙리스트 검색 폼-->
        <div class="btn-group">
            <form action="" method="post" id="filterSub" style="width: 100%;">
                <input type="text" name="search" class="search-input"
                placeholder="검색어를 입력하세요">
                <input type="submit" class="btn btn-submit search" value="검색">
            </form>
        </div>
    </div>
    <div class="inline scroll_tbody call">
        <h2 class="strikethrough_title v_mobile">
            <span class="title_text">
                블랙리스트 목록
            </span>
        </h2>
        <!--블랙리스트 테이블-->
        <div class="grid-style blackTable">
            <!-- <th class="order link" id="refresh-blackListID">#</th> -->
            <div class="order link com-div al_l first round1" id="refresh-employeeName">성명</div>
            <div class="order link com-div al_l" id="refresh-companyName">상호명</div>
            <div class="order link com-div" id="refresh-ceoReg">구분</div>
            <div class="order link com-div" id="refresh-detail">비고</div>
            <div class="com-div round2">삭제</div>
        </div>
        <?php foreach ($black as $key => $data): ?>
        <div id="blackListTable">
                <div class="grid-style grid-wrapper blackTable">
                    <!-- <td class="al_c"><?php echo $data['blackListID'] ?></td> -->
                    <div class="al_l link" onClick='location.href="<?php echo _URL . "employee/view/{$data['employeeID']}" ?>"'><?php echo $data['employeeName'] ?></div>
                    <div class="al_l link" onClick='location.href="<?php echo _URL . "company/view/{$data['companyID']}" ?>"'><?php echo $data['companyName'] ?></div>
                    <div class="al_c"><?php echo ($data['ceoReg'] == 1) ? '오지마세요' : '안가요' ?></div>
                    <div class="al_l"><?php echo ($data['detail']) ? $data['detail'] : '-' ?></div>
                    <div class="al_c">
                        <button type="button" class="btn btn-danger blackDelBtn" value="<?php echo $data['blackListID'] ?>">
                            삭제
                        </button>
                    </div>
                </div>
            <?php endforeach ?>
        </div>
    
        <!--페이지네이션-->
        <div class="al_c pagination" style="margin-top: 10px;">
        <?php if ($page > 1) : ?>
            <form action="" method="post">
                <input type="hidden" name="page" value=1>
                <input type="hidden" name="ceoReg" value="<?php echo $_POST['ceoReg'] ?>">
                <input class="btn btn-option" type="submit" value="처음으로">
            </form>
            <form action="" method="post">
                <input type="hidden" name="page" value=<?php echo $page - 1 ?>>
                <input type="hidden" name="ceoReg" value="<?php echo $_POST['ceoReg'] ?>">
                <input class="btn btn-option" type="submit" value="<">
            </form>
        <?php endif; ?>
        
        <?php for ($i = $start_loop; $i <= $end_loop; $i++): ?>
            <form action="" method="post">
                <input type="hidden" name="page" value="<?php echo $i ?>">
                <input type="hidden" name="ceoReg" value="<?php echo $_POST['ceoReg'] ?>">
                <input class="btn btn-option <?php echo $selected_page[$i] ?>" type="submit" value="<?php echo $i ?>">
            </form>
        <?php endfor; ?>
        
        <?php if (($page < $total_pages)): ?>
            <form action="" method="post">
                <input type="hidden" name="page" value="<?php echo $page + 1 ?>">
                <input type="hidden" name="ceoReg" value="<?php echo $_POST['ceoReg'] ?>">
                <input class="btn btn-option" type="submit" value=">">
            </form>
            <form action="" method="post">
                <input type="hidden" name="page" value="<?php echo $total_pages ?>">
                <input type="hidden" name="ceoReg" value="<?php echo $_POST['ceoReg'] ?>">
                <input class="btn btn-option" type="submit" value="마지막으로">
            </form>
        <?php endif; ?>
        </div>
    </div>
</div>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
    $('.blackDelBtn').on('click', function () {
        let btn = $(this);
        if (confirm('정말 삭제하시겠습니까?')) {
            $.ajax({
                type: "POST",
                method: "POST",
                url: ajaxURL,
                data: {action: 'deleteBlack', blackID: btn.val()},
                dataType: "text",
                success: function (data) {
                    alert(data);
                    btn.closest('tr').slideUp();
                }
            });
        }
    });
    
    $('input[name=employeeName]').on('input',function () {
       set_validity($(this),'employee');
    });
    $('input[name=companyName]').on('input',function () {
        set_validity($(this),'company');
    });
</script>

{% endblock %}